@font-face {font-family: "RainforestW00-Topline"; src: url("//db.onlinewebfonts.com/t/ae9edeb75035f9e99869b222226820a5.eot"); src: url("//db.onlinewebfonts.com/t/ae9edeb75035f9e99869b222226820a5.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/ae9edeb75035f9e99869b222226820a5.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/ae9edeb75035f9e99869b222226820a5.woff") format("woff"), url("//db.onlinewebfonts.com/t/ae9edeb75035f9e99869b222226820a5.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/ae9edeb75035f9e99869b222226820a5.svg#RainforestW00-Topline") format("svg"); }

body{
    font-family:"RainforestW00-Topline";
    font-weight:bold;
}

a{
    font-size:26px;
}

/*Navbar*/
.navbar-toggler {
  width: 20px;
  height: 20px;
  position: relative;
  transition: 0.5s ease-in-out;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
  border: 0;
}

.navbar-toggler span {
  margin: 0;
  padding: 0;
}

.toggler-icon {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #d3531a;
  border-radius: 1px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.middle-bar {
  margin-top: 0px;
}

/* when navigation is clicked */

.navbar-toggler .top-bar {
  margin-top: 0px;
  transform: rotate(135deg);
}

.navbar-toggler .middle-bar {
  opacity: 0;
  filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
  margin-top: 0px;
  transform: rotate(-135deg);
}

/* State when the navbar is collapsed */

.navbar-toggler.collapsed .top-bar {
  margin-top: -20px;
  transform: rotate(0deg);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
  margin-top: 20px;
  transform: rotate(0deg);
}

/* Color of 3 lines */

.navbar-toggler.collapsed .toggler-icon {
  background: linear-gradient(
    263deg,
    rgba(252, 73, 73, 1) 0%,
    rgba(0, 212, 105, 1) 100%
  );
}

/*Navbar-end*/

.aboutimg{
    height:700px;
}
.rowdescription{
    margin-bottom:70px;
}

.heading1{
    color:#8BB85A;
    font-size:48px;
    font-weight:bolder;
}

.heading2{
    color:#8BB85A;
    font-size:60px;
    font-weight:bolder;
}

.card-title{
    color:#D11F0A;
    font-size:33px;
    font-weight:bold;
}

.card-text{
    font-size:27px;
}

.icohead{
    height:50px;
    width:50px;
}


.icologo{
    height:100px;
    width:100px;
}

.summary{
    font-size:30px;
}

.row-flex {
  display: flex;
  flex-wrap: wrap;
}


/* vertical spacing between columns */

[class*="col-"] {
  margin-bottom: 30px;
}

.content {
  height: 100%;
  padding: 20px 20px 10px;
}

.c-body:hover{
    box-shadow: 0 10px 50px rgb(0 0 0 / 0.2);
}

.message{
    font-size:32px;
    font-weight:bolder;
}

.formtitle{
    font-size:32px;
    font-weight:bolder;
}

.footer{
    font-size:29px;
    color:#FFFF;
}

.ranger-form{
    background-image:url(/images/rangerback.jpg);
    background-size:cover;
}

.sightcardback{
    background-image:url(/images/giraffe.jpg);
    background-size:cover;
}

.binoculars{
    height:110px;
    width:110px;
}

.rangerdetail{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:center;
}
.rangercardpic{
    height:40px;
    width:40px;
}

.locpic{
    height:100px;
    width:100px;
}

.sighttext{
    font-size:26px;
    font-weight:bold;
}

.sighthead{
    font-size:33px;
    font-weight:bolder;
}
.link , .time{
    color:green;
}
.link:hover{
    color:#FF1493;
}

.sight-card{
    background-color:#F5F5DC;
}

.btn1:hover{
    color:#696969;
    transform:translateY(-5px);
}

.coord{
    color:	#FF1493;
}

.rangerpic{
    height:70px;
    width:70px;
}

.rangername{
    margin-top:-60px;
    margin-left:90px;
    font-size:40px;
    color:#FF1493;
    font-weight:bolder;
}

.rangecard{
    background-color:#F5F5DC;
}

.lion{
    height:70px;
    width:70px;
}

.animstat{
    height:25px;
    width;25px;
    margin-right:30px;
}

.body{
    background-color:#FAFAFA;
}

.footer{
    margin-bottom:-20px;
}

.topname{
    font-size:50px;
}
.key{
    height:50px;
    width:50px;
    margin-right:10px;
}

.names{
    color:#FF1493;
}

.menukey span{
    color:green;
}

.animtext{
    color:green;
}