{{#partial "content"}}
    <div class="container-fluid p-5">
    {{#if rangers}}
        <form action="/endangered" method="post">
            <div class="row">
                <div class="col-md-5 p-5 rounded bg-success bg-opacity-50">

                    <h3 class="text-center formtitle">Animal</h3>

                    <div class="form-group mb-4">
                        <label for="name" class="fs-4 mb-2">Animal Name:</label>
                        <input type="text" class="form-control" id="Name" name="Name">
                    </div>

                    <div class="form-group mb-4">
                        <label for="age" class="fs-4 mb-2">Animal Age:</label>
                        <select name="age" class="form-control" id="age">
                            <option disabled selected>Select Animal Age Range</option>
                            <option value="Newborn">Newborn</option>
                            <option  value="Young">Young</option>
                            <option value="Adult">Adult</option>
                        </select>
                    </div>

                    <div class="form-group mb-4">

                        <label for="health" class="fs-4 mb-2">Risk Factor:</label>
                        <select name="risk" class="form-control" id="risk">
                            <option  value="Endangered">Endangered</option>
                        </select>
                    </div>


                    <div class="form-group mb-4">

                        <label for="health" class="fs-4 mb-2">Health state:</label>
                        <select name="health" class="form-control" id="health">
                            <option disabled selected>Select Animal Health</option>
                            <option  value="Healthy">Healthy</option>
                            <option value="Okay">Okay</option>
                            <option value="Ill">Ill</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-5 p-5 rounded bg-success bg-opacity-50">
                    <h3 class="text-center formtitle">Location</h3>
                    <div class="form-group mb-4">

                        <label for="location" class="fs-4 mb-2">Location Name:</label>
                        <input type="text" class="form-control" id="locationname" name="locationname">
                    </div>

                    <div class="form-group fs-4 mb-4">
                        <label for="" class="fs-4 mb-2">Latitude:</label>
                        <input type="number" step="0.01" min = 1.0 max = 89.99 name="latitude" class="form-control" id="latitude" placeholder="1.00 to 89.99">
                    </div>
                    <div class="form-group mb-4">

                        <label for="" class="fs-4 mb-2">longitude:</label>
                        <input type="number" step="0.01" min = -179.99 max = 179.99 class="form-control" id="longitude" name="longitude" placeholder="-179.99 to 179.99">
                    </div>

                    <div class="form-group mb-4">

                        <label for="health" class="fs-4 mb-2">Record Owner:</label>
                        <select name="rangerId" class="form-control" id="rangerId">
                            <option disabled selected>Select Record Owner</option>
                            {{#each rangers}}
                                <option  value="{{id}}">{{name}}</option>
                            {{/each}}
                        </select>
                    </div>

                </div>
            </div>
            <button class="btn btn-success fs-3 fw-bolder d-block mx-auto" type="submit">Add Sighting</button>
        </form>

{{else}}
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4 bg-success bg-opacity-50">
                <h3>Hello There</h3>
                <p>Make Sure You Register As A ranger before making a recording. Kindly follow the link below</p>
                <a class="text-decoration-none" href="/rangers/new"></a>
            </div>
            <div class="col-md-4"></div>
        </div>
{{/if}}
    </div>
{{/partial}}
{{>layout.hbs}}