{{#partial "content"}}
    <div class="container-fluid welcome">

        <h3>The Wildlife Tracker For Rangers</h3>
    <div class="row">
    <div class="col-md-4">

    </div>
        <div class="col-md-4"></div>
        <div class="col-md-4"></div>
    </div>
    <div class="row rowdescription">
        <div class="col-md-6">
            <img src="/images/elephant.jpg" alt="" class="img-fluid">
        </div>
        <div class="col-md-6">
            <h3 class="text-start fw-bolder">W-LiFe:Wildlife</h3>
            <img class="icologo mx-auto" src="/images/elephant.png" alt="">
             <p>Wildlife is a national resource, which not only helps in maintaining the ecological balance but is also beneficial from economic, recreational and aesthetic points of view. There was a time when human interference was minimum the number of wild animals was quite high and there was no problem of their protection or conservation. But, with the expansion of agriculture, settlement, industrial and other developmental activities and mainly due to greed of man, the number of wild animals gradually became lesser and lesser. With the result that several species of animals have become extinct and several, others are on the verge of being so.</p>
        </div>
    </div>
        <div class="row rowdescription row-flex">
            <div class="col-md-6 content">
                <h3 class="text-start fw-bolder">W-LiFe:Forests</h3>
                <img class="icologo" src="/images/nature.png" alt="">
                <p>Forests keep our climate stable, absorbing carbon dioxide and releasing oxygen, and they regulate our water supply and improve its quality. They also provide a home to more than half of all species found on land – a rich variety of life that keeps so many natural systems running.
                    Over 1 billion people live in and around forests, depending on them for fuel, food, medicines and building materials. And all of us use wood in our daily lives: in fact, global demand for timber products is expected to more than triple over the next three decades.
                    But human impacts have already led to the loss of around 40% of the world’s forests. And today, an area the size of a football pitch is still being destroyed every second. Protecting and restoring forests has never been more urgent.</p>
            </div>
            <div class="col-md-6 content">
                <img src="/images/frst.jpg" alt="" class="img-fluid">
            </div>
        </div>
    </div>

    <h2 class="text-center">How To Record Animals</h2>
    <div class="container mb-3">
        <div class="row">

            <div class="col-md-4 mb-3">
                <div class="card">
                    <img class="card-img-top" src="/images/camo.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Risk of Extinction</h5>
                        <p class="card-text">Record each animal using the risk factor. Currently, only Endangered species and Unthreatened species are available</p>
                        <p class="card-text"><small class="text-muted">ps: Follow this criteria</small></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card">
                    <img class="card-img-top" src="/images/bird1.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Age</h5>
                        <p class="card-text">Use your high-level perception to group animals into three age Ranges.The ranges available are Young, Adult and Newborn</p>
                        <p class="card-text"><small class="text-muted">ps: Follow this criteria</small></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card">
                    <img class="card-img-top" src="/images/cheetah.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Health</h5>
                        <p class="card-text">You might not have majored in Statistics but we for sure know you have Eagle-like vision when it comes to spotting anomalies in animals. Record health status as either Healthy, Ill or Okay</p>
                        <p class="card-text"><small class="text-muted">ps: Follow this criteria</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <p>We Wish you all the best Ranger. You have our sincere thanks for safeguarding our environment.</p>
    </div>
{{/partial}}

{{>layout.hbs}}