{{#partial "content"}}


    <div class="container">

        <div class="row row-cols-1 row-cols-md-3 g-5 mt-4 mb-4">
            {{#each sight}}
                <div class="col">

                    <div class="card sight-card c-body h-100 p-3">
                        <img class="rounded-circle binoculars" src="/images/sight2.png" alt="">
                        <p class="sighttext">Sighting By: <a class="text-decoration-none link" href="/rangers/{{rangerId}}">Ranger</a></p>
                        <p class="sighttext"> Sighted At: <a class="text-decoration-none link"  href="/locations/{{locationId}}">Location</a></p>
                        <p class="sighttext">Time of Sighting: <span class="time">{{timesighted}}</span></p>
                        <button class="btn btn1 btn-danger d-block mx-auto"><a class="text-decoration-none text-white fw-bold" href="/sightings/delete/{{id}}">Delete</a></button>

                    </div>
                </div>
            {{/each}}

        </div>

    </div>
    <button class="btn btn-danger d-block mx-auto mt-3 mb-4"><a class="text-decoration-none text-white fw-bold" href="/sightings/delete">Delete All</a></button>
{{/partial}}
{{>layout.hbs}}