{{#partial "content"}}
<div class="container-fluid p-5">
    {{#if rangers}}
                <form action="/unthreatened" method="post">
                    <div class="row">
                        <div class="col-md-5 p-5 rounded bg-success bg-opacity-50">
                            <h3 class="text-center formtitle">Animal</h3>
                    <div class="form-group mb-4">
                        <label for="name" class="fs-4 mb-2 text-white">Animal Name:</label>
                        <input type="text" class="form-control fs-5 fw-bold" id="Name" name="Name" required>
                    </div>
                    <div class="form-group mb-4">
                        <label for="age" class="fs-4 mb-2 text-white">Animal Age:</label>
                        <select name="age" class="form-control fs-5 fw-bold" id="age" required>
                            <option class="fw-bold" disabled selected>Select Animal Age Range</option>
                            <option class="fw-bold" value="Newborn">Newborn</option>
                            <option class="fw-bold"  value="Young">Young</option>
                            <option class="fw-bold" value="Adult">Adult</option>
                        </select>
                    </div>

                    <div class="form-group mb-4">

                        <label for="health" class="fs-4 mb-2 text-white">Risk Factor:</label>
                        <select name="risk" class="form-control fs-5 fw-bold" id="risk" required>
                            <option value="Unthreatened">Unthreatened</option>
                        </select>
                    </div>


                    <div class="form-group mb-4">

                        <label for="health" class="fs-4 mb-2 text-white">Health state:</label>
                        <select name="health" class="form-control fs-5 fw-bold" id="health" required>
                            <option class="fw-bold" disabled selected>Select Animal Health</option>
                            <option class="fw-bold"  value="Healthy">Healthy</option>
                            <option class="fw-bold" value="Okay">Okay</option>
                            <option class="fw-bold" value="Ill">Ill</option>
                        </select>
                    </div>
                        </div>
                        <div class="col-md-2"></div>
                        <div class="col-md-5 p-5 rounded bg-success bg-opacity-50">
                            <h3 class="text-center formtitle">Location</h3>
                    <div class="form-group mb-4">

                        <label for="location" class="fs-4 mb-2 text-white">Location Name:</label>
                        <input type="text" class="form-control fs-5 fw-bold" id="locationname" name="locationname" required>
                    </div>

                    <div class="form-group fs-4 mb-4">
                        <label for="" class="fs-4 mb-2 text-white">Latitude:</label>
                        <input type="number"  step="0.01" min = 1.0 max = 89.99 name="latitude" class="form-control fs-5 fw-bold" id="latitude" placeholder="1.00 to 89.99" required>
                    </div>
                    <div class="form-group mb-4">

                        <label for="" class="fs-4 mb-2 text-white">longitude:</label>
                        <input type="number" step="0.01" min = -179.99 max = 179.99 class="form-control fs-5 fw-bold" id="longitude" name="longitude" placeholder="-179.99 to 179.99" required>
                    </div>

                    <div class="form-group mb-4">

                        <label for="health " class="fs-4 mb-2 text-white">Record Owner:</label>
                        <select name="rangerId" class="form-control fs-5 fw-bold" id="rangerId" required>
                            <option disabled selected>Select Record Owner</option>
                            {{#each rangers}}
                                <option class="fs-5 fw-bold" value="{{id}}">{{name}}</option>
                            {{/each}}
                        </select>
                    </div>

                    </div>
                    </div>
                    <button class="btn btn-success fs-3 fw-bolder d-block mx-auto" type="submit">Add Sighting</button>
                </form>
        {{else}}
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4 fs-3 bg-success bg-opacity-50">
                <h3 class="fs-1 text-white fw-bolder">Hello There</h3>
                <p>Make Sure You Register As A ranger before making a recording. Kindly follow the link below</p>
                <a class="text-decoration-none text-white" href="/rangers/new">Click Me</a>
            </div>
            <div class="col-md-4"></div>
        </div>
        {{/if}}
</div>
{{/partial}}
{{>layout.hbs}}